<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>AI Tech</strong>
       </a>          
      </div>
    </div>
  </header>
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">         
          <img style="text-align: center; margin: auto;
                      display: block;
                      width: 10%; 
                      height: 10%;
                      margin-top: 10px;
                      border-radius: 50%;"
          src="../assets/aitechlogo.jpeg">   
         <h2><strong> Tech - Inovando a Busca com Inteligência Artificial</strong>
          <br/></h2>
         <p class="lead text-muted" style="margin-bottom: -15px;">
          Na AI Tech, transformamos a maneira como você encontra informações e soluções.<br/>
          Nossa tecnologia de ponta de inteligência artificial oferece uma experiência de busca rápida, 
          precisa e personalizada, garantindo que você obtenha os resultados mais relevantes com apenas alguns cliques.
          </p>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <h1 class="jumbotron-heading" style="text-align: center; margin: auto; display: block; margin-bottom: 15px;">
          Estamos contratando!
      </h1>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../assets/dircom.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <h4>Diretor Comercial</h4>
                <p class="card-text">Você chegou tarde, vaga indisponivel no momento.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Visualizar vaga</button>
                  </div>                    
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../assets/coordadm.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <h4>Coordenador Administrativo</h4>                    
                <p class="card-text">Clique em visualizar vaga para <br/>saber mais.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-success" (click)="verVaga()">Visualizar vaga</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../assets/desvsoft.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <h4>Desenvolvedor Software IA</h4>
                <p class="card-text">Você chegou tarde, vaga indisponivel no momento.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Visualizar vaga</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="jumbotron-heading" style="text-align: center; margin: auto; display: block; margin-top: 5px; margin-bottom: 5px;">
          ** Vagas destinadas a alunos Dexter English.
          </p>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container">

      <p>Copyright © 2024 AI Tech.  
          Todos os direitos reservados. 
          </p>
      <p><a href="../../">Termos de Uso 
          Política de Privacidade</a>.</p>
    </div>
  </footer>

  <!-- Principal JavaScript do Bootstrap
  ================================================== -->
  <!-- Foi colocado no final para a página carregar mais rápido -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>