<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>AI Tech</strong>
       </a>          
      </div>
    </div>
  </header>
  <main role="main" class="n py-5 bg-light">
    <section class="jumbotron text-center">
      <div class="container">         
          <img style="text-align: center; margin: auto;
                      display: block;
                      width: 10%; 
                      height: 10%;
                      margin-top: 10px;
                      border-radius: 50%;"
          src="../assets/aitechlogo.jpeg">   
         <h2>{{ 'vacancy.vacancy' | translate }}:<br/><strong>{{ 'home.coordAdm' | translate }} </strong>
        </h2>
         <p class="lead text-muted" style="margin-bottom: -15px;">
          {{ 'vacancy.requests' | translate }}:<br />
          {{ 'vacancy.requests1' | translate }}<br />
          {{ 'vacancy.requests2' | translate }}<br />
          {{ 'vacancy.requests3' | translate }}<br />
          {{ 'vacancy.requests4' | translate }}<br />
          {{ 'vacancy.requests5' | translate }}<br />
          </p>
      </div>
      <button type="button" class="btn btn-outline-secondary" style=" margin-top: 100px" (click)="voltar()">{{ 'vacancy.back' | translate }}</button>
     
    </section>
  </main>
  <footer class="text-muted" style="margin-top: 20px;">
    <div class="container">
      <p>{{ 'home.copyright' | translate }}</p>
      <p><a href="../../">{{ 'home.terms' | translate }}</a>.</p>
    </div>
  </footer>

  <!-- Principal JavaScript do Bootstrap
  ================================================== -->
  <!-- Foi colocado no final para a página carregar mais rápido -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>